.root {
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-base: #424c85;
    -fx-accent: #c9c9c9;

    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.button, .choice-box, .titled-pane {
    -fx-background-radius: 20px;

}

.button {
    -fx-background-color: #a23645;
}

.button:hover {
    -fx-background-color: #d75d88;
}

.choice-box {
    -fx-background-color: #71c259;
}

.choice-box:hover {
    -fx-background-color: #95c786;
}

.label {
    -fx-text-fill: white;
}

.button .label {
    -fx-text-fill: black;
}

.titled-pane > .title:hover {
    -fx-color: -fx-base;
}

#hboxRoot {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #304ca8, #8e9ee0);
}

.list-view {
    -fx-background-color: rgba(86, 134, 199, 0);
}

.list-cell:even {
    -fx-control-inner-background: derive(-fx-base, 25%);
    -fx-border-color: grey;
    -fx-font-family: "Arial";
}


.list-cell:odd {
    -fx-control-inner-background: derive(-fx-base, 15%);
    -fx-border-color: grey;
    -fx-font-family: "Arial";
}

.list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

#editArmySuccessMessage {
    -fx-text-fill: #71c259;
}
